@using DoctorOffice.Models;
<html>

<head>

</head>


  <body>
  <a href='/doctors'>View all doctors</a>

<h1>Doctor office</h1>
      <h2>Speciality: @Model["selectedSpeciality"].GetName()</h2>
      <hr />

      @if (@Model["specialityDoctors"].Count != 0)
      {
      <h4>This speciality has these doctors:</h4>

        @foreach (Doctor doctor in @Model["specialityDoctors"])
        {
        <li>@doctor.GetName()</li>
        }

      }

      <h4>Add a speciality for this doctor:</h4>

      <form action='/specialities/@Model["selectedSpeciality"].GetId()/doctors/new' method='post'>
        <label for='doctorId'>Select a doctor</label>
        <select id='doctorId' name='doctorId' type='text'>
          @foreach (var doctor in @Model["allDoctors"])
          {
          <option value='@doctor.GetId()'>@doctor.GetName()</option>
          }
        </select>
        <button type='submit'>Add</button>

      <a href="/">Return to Main Page</a>
  </body>


</html>
